/* Font Style from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-mode {
    background-color: #000;
    color: #f9f9f9;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.d-none {
    display: none;
}

.active{
    color: #da1a17 !important;
}

/* Nese don Edison heke veq per menim tem ma mire po del qeshtu */
.container-fluid{
    padding: 0 5%;
}

/* Navbar */
.navbar{
    background-color: #111;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav .nav-link{
    color: #f9f9f9;
}
.navbar-nav .nav-link:hover{
    color: #da1a17;
}

ul li a{
    padding: 0 3rem 0 0 !important;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600 !important;
}

.bi-moon,
.bi-brightness-high{
    cursor: pointer;
}

.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler .bi-list {
    color: #f9f9f9;
}

/* Home Section */
/* .home{
    background-color: aquamarine;
    padding: 10%;
} */

/* Banner Section */
.banner{
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner .card img {
    height: 120 px;
    object-fit: cover;
}
.PopularcarsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    padding: 2%; 
}
.banner .card {
    background-color:rgb(247, 249, 250);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.banner h3 {
    margin-bottom: 30px;
}

.banner h4 {
    text-align: center;
}

.banner h4:hover {
    text-decoration-line: underline;
}
.banner p {
    text-align: center;
    margin: 10px 0;
}


/* Latest Cars Section */
.btn-all, .btn-new, .btn-used {
    padding: 8px 14px; 
    border: 2px solid #555; 
    background-color: transparent; 
    color: #666; 
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    cursor: pointer; 
}

.btn-all:hover, .btn-new:hover, .btn-used:hover {
    background-color: #555; 
    color: #fff; 
    border-color: #555; 
}

.btn-all:focus, .btn-new:focus, .btn-used:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.bi-suit-heart, 
.bi-bell,
.bi-arrow-repeat{
    border: 1px solid #000;
    padding: 5px 5px 3px 5px;
    border-radius: 25%;
    cursor: pointer;
}

.bi-suit-heart:hover,
.bi-bell:hover,
.bi-arrow-repeat:hover {
    background-color: #111827;
    color: #f9f9f9;
}


.cars-cards{
    /* padding: 3rem 5rem 3rem 5rem; */
}

/* Main Section */
.main-banner{
    background-color: #333;
}
.search{
    background-color: #da1a17;
    color: #f9f9f9;
}

.half-main-banner{
    background-color: #111;
    border-radius: 10px;
}

/* Top offers */
.top-of{
    padding-top: 5%;
}
.img-hover:hover {
    width: 100%;
    overflow: hidden;
    transform: scale(1.1);
    transition: transform 0.5s ease; 
}


/* Auto Market */
.auto-img img{
    width: 220px;
}

.auto-market{
    padding: 5%;
    background-color: #222;
    color: #f9f9f9;
}
.btn-shop{
    padding: 10px 16px; 
    border: 2px solid #da1a17; 
    background-color: #da1a17 ; 
    color: #f9f9f9; 
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    cursor: pointer; 
}


