/* Font Style from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.navbar{
    background-color: #111827;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav .nav-link{
    color: #f9f9f9;
}

ul li a{
    padding: 0 3rem 0 0 !important;
    text-transform: uppercase;
    font-size: 24px;
}

.bi-moon{
    cursor: pointer;
}

.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler .bi-list {
    color: #f9f9f9;
}

/* Home Section */
.home{
    background-color: aquamarine;
    padding: 10%;
}


/* Latest Cars Section */
.btn-all, .btn-new, .btn-used {
    padding: 8px 14px; 
    border: 2px solid #111827; 
    background-color: transparent; 
    color: #111827; 
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    cursor: pointer; 
}

.btn-all:hover, .btn-new:hover, .btn-used:hover {
    background-color: #111827; 
    color: #fff; 
    border-color: #111827; 
}

.btn-all:focus, .btn-new:focus, .btn-used:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.bi-suit-heart, 
.bi-bell,
.bi-arrow-repeat{
    border: 1px solid #000;
    padding: 5px 5px 3px 5px;
    border-radius: 25%;
    cursor: pointer;
}

.bi-suit-heart:hover,
.bi-bell:hover,
.bi-arrow-repeat:hover {
   background-color: #111827;
   color: #f9f9f9;
}


.cars-cards{
    /* padding: 3rem 5rem 3rem 5rem; */
}

/* Main Section */
.main-banner{
    background-color: #3D7A81;
}

.half-main-banner{
    background-color: #4C848B;
    border-radius: 10px;
}

/* Top offers */
.img-hover:hover {
    width: 100%;
    overflow: hidden;
    transform: scale(1.1);
    transition: transform 0.5s ease; 
}


