*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    background-color: #111827;
    /* padding: 1% 10% 1% 10%; */
}

.navbar-nav .nav-link{
    color: #f9f9f9;
}

ul li a{
    padding: 0 3rem 0 0 !important;
    text-transform: uppercase;
    font-size: 24px;
}
.bi-moon{
    cursor: pointer;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
.navbar-toggler .bi-list {
    color: #f9f9f9;
}
